{% extends "auctions/layout.html" %}

{% block body %}

<div class="row" >
    <div class="col ml-5" >

    <h2 class="text-center bg-primary text-light m-3 p-1 rounded" >New Auction</h2>

    {% if message %}
        <div>{{ message }}</div>
    {% endif %}

    <form action="{% url 'newauction' %}" method="post" enctype="multipart/form-data" onsubmit="bsend.disabled = true; return true;">
        {% csrf_token %}
        <div class="form-group">
            <h4>Listing Name</h4>
            <input class="form-control" autofocus type="text" name="name" placeholder="Nameless">
        </div>
        <div class="form-group">
            <h4>Category</h4>
            <input class="form-control" autofocus type="text" name="category" placeholder="uncategorized">
        </div>
        <div class="form-group">
            <h4>Description</h4>
            <textarea class="form-control" autofocus name="description" placeholder="No description" ></textarea>
        </div>
        <div class="form-group">
            <h4>Starting Bid</h4>
            <input class="form-control" autofocus type="text" name="init_bid" placeholder="$0.01">
        </div>
        <div class="form-group">
            <h4 class="d-inline" >Add an Image </h4><small>(optional)</small>
            <input class="form-control" autofocus type="file" name="image">
        </div>
        <input class="btn btn-primary" type="submit" name="bsend" value="Send">
    </form>
</div>
<div class="col m-5" >
    <h4 class="text-center bg-info rounded text-light m-3 p-1" > Note that</h4>
    <ul class="list-group" >
        <li class="list-group-item list-group-item-light" >If you do not fill in a field, 
            the default value shown in the placeholder will be saved.
        </li>
        <li class="list-group-item list-group-item-light" >
            <ul class="list-group"> In the "Starting Bid" field: <br>
                <li class="list-group-item-light"> if you enter a negative value, its absolute value will be saved. </li><br> 
                <li class="list-group-item-light">If you enter the value "0" (this is not a donations site), <br>
                an amount equal to or greater than $10,000,000
                or any wrong value, <br>
                the default value shown in the placeholder will be saved
                </li>
            </ul>
        </li>
    
        <li class="list-group-item list-group-item-light" >If you don't add an image, 
            the listing will show: "image not available".
        </li>
    </ul>
</div>
</div>
{% endblock %}